# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# OS
.DS_Store

# Cache
*.log

# Uploads and temporary files
uploads/
*.pdf
*.docx
*.txt

# ChromaDB vector database
chroma_db/

# ChromaDB data
chroma_data/

# Test files
test_*.py
